.selectedPage,
.notSelected {
  cursor: pointer;
  user-select: none;
  padding: 10px;
  font-size: 20px;
}
.selectedPage {
  font-weight: bold;
  font-size: 25px;
}
.paginator {
  margin: 10px;
}

/*  */

.pageNumber {
  padding: 2px;
  border: 1px solid grey;
}

.pageNumber.selectedPage {
  font-weight: bold;
  border-color: black;
}
